extends layout

block title
    title Статьи

block menu
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        a(class="navbar-brand", href="#") Navbar
        button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbar1", aria-controls="navbar1", aria-expanded="false", aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")


        div(class="collapse navbar-collapse", id="navbar1")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item")
                    a(class="nav-link", href="/admin") Главная
                        span(class="sr-only") (current)

                li(class="nav-item active")
                    a(class="nav-link", href="/admin/articles") Статьи

                li(class="nav-item")
                    a(class="nav-link", href="/logout") Выход

block content
    ul(class="list-group")
        each val in rows
            - var slug = "/admin/articles/" + val.slug
            - var delSlug = "/admin/articles/delete/" + val.slug
            - var updSlug = "/admin/articles/edit/" + val.slug
            li(class="list-group-item")=val.content
                form(method="get", action=slug)
                    input(class="btn btn-success mb-2", type="submit", value="Просмотреть")
                form(method="get", action=updSlug)
                    input(class="btn btn-primary mb-2", type="submit", value="Редактировать")
                form(method="post", action=delSlug)
                    input(class="btn btn-danger mb-2", type="submit", value="Удалить")
    form(method="get", action="/admin/articles/add")
        input(class="btn btn-primary mb-2", type="submit", value="Добавить статью")

