extends layout

block title
    title Статьи

block css
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ' crossorigin='anonymous')

block content
    h1.my-4
        | Page Heading
        small Secondary Text
    // Blog Post
    each val in rows
        .card.mb-4
            .card-body
                h3.card-title #{val.title}
                h5.card-title posted #{val.createFormat}
                p.card-text #{val.content1}
                a.btn.btn-primary(href='/articles/' + val.slug) Read More →
            .card-footer.text-muted
                a.btn.btn-default(href='/admin/articles/edit/' + val.slug)
                    span.fas.fa-pencil-alt
                a.btn.btn-default(href='/admin/articles/delete/' + val.slug)
                    span.fas.fa-trash-alt

