extends layout
block title
    title Main page
block content
    // Blog Entries Column
    .col-md-8
        h1.my-4 #{string}
        // Blog Post
        each val in rows
            .card.mb-4
                img.card-img-top(src='/uploads/' + val.slug + '.jpg', alt='Card image cap')
                .card-body
                    h2.card-title #{val.title}
                    p.card-text #{val.content1}
                    a.btn.btn-primary(href='/articles/' + val.slug) Read More →
                .card-footer.text-muted Posted on #{val.createFormat}
        // Pagination
        //ul.pagination.justify-content-center.mb-4
        //    a.btn.btn-primary.justify-content-center.mb-4(href='/articles/page/1') View all
