
extends layout

block content
    div(class="demo")
        h1 Авторизация в express  с помощью passportjs
        p
            #usern
                if(usern)
                    div(class="user-card")
                        div(class="user-data")
                            span Имя: #{usern.username}
                            br
                            span Профиль: <a href="#{usern.profileUrl}">page</a>
                            br
                            div(class="clear")
                    a(href="/sign-out", class="sign-out") Выйти ←
                else
                    p Вы не авторизованы!
                    a(href="/auth") Авторизоваться →