extends layout
block title
    title Main page
block menu
    nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
        a(class="navbar-brand", href="#") Navbar
        button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbar1", aria-controls="navbar1", aria-expanded="false", aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse", id="navbar1")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item active")
                    a(class="nav-link", href="/admin") Главная
                        span(class="sr-only") (current)
                li(class="nav-item")
                    a(class="nav-link", href="/signin") Вход
block content
    ul(class="list-group")
        each val in rows
            - var slug = "articles/" + val.slug
            -
            li(class="list-group-item")
                H2
                    a(href=slug) #{val.title}
                p #{truncate(val.content, 100)}
                    a(href=slug) >>>
    script
        - function truncate(str, maxlength) {return (str.length > maxlength) ? str.slice(0, maxlength - 3) : str;}

